title: "Scala Documentation"
description: "Documentation for the Scala programming language- Tutorials, Overviews, Cheatsheets, and more."
keywords: 
- Scala
- Documentation
- Tutorial
- Scala Programming Language
- Reference
- Cheatsheet
- Article
- Document
- Guide

scala-version: 2.9.1

pygments: true
permalink: /:categories/:title.html
markdown: rdiscount
