markdown: kramdown
kramdown:
  input: GFM

title: "Scala Documentation"
description: "Documentation for the Scala programming language - Tutorials, Overviews, Cheatsheets, and more."
keywords:
- Scala
- Documentation
- Tutorial
- Scala Programming Language
- Reference
- Cheatsheet
- Article
- Document
- Guide

collections:
  books:
    output: false

scala-version: 2.12.2

highlighter: rouge
permalink: /:categories/:title.html:output_ext
baseurl:
exclude: ["vendor"]
gems:
  - jekyll-redirect-from
