---
tabId: osx
tabLabel: macOS
language: en
---
<div class="wrap-inline">
  <div class="wrap">
    <p>Run the following command in your terminal, following the on-screen instructions:</p>
    {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-brew %}
    {% capture homebrewDetail %}
    <div class="wrap-narrow">
      {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-default %}
    </div>
    {% endcapture %}
    {% include alt-details.html
      title="Alternatively, if you don't use Homebrew:"
      detail=homebrewDetail
    %}
  </div>
</div>
