---
tabId: osx
tabLabel: macOS
language: ja
---
<div class="wrap-inline">
  <div class="wrap">
    {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-brew %}
    {% capture homebrewDetail %}
    <div class="wrap">
      {% include code-snippet.html language='bash' codeSnippet=site.data.setup-scala.macOS-default %}
    </div>
    {% endcapture %}
    {% include alt-details.html
      id='cs-setup-macos-nobrew'
      title="または、Homebrewを使用しない場合は"
      detail=homebrewDetail
    %}
  </div>
</div>
