{% for top in (0..3) reversed %}
  {% for major in (0..20) reversed %}
    {% assign possibleVersionShort = top | append:'.' | append:major %}
    {% assign sz = possibleVersionShort | size %}
    {% if 3 == sz %}
      {% assign possibleVersion = possibleVersionShort | append:'.' %}
    {% else %}
      {% assign possibleVersion = possibleVersionShort %}
    {% endif %}
    {% for page in site.downloads %}
      {% assign releaseVersion = page.release_version | truncate:4, '' %}
      {% if releaseVersion == possibleVersion %}
<div>
  <a href="{{ page.url }}">{{ page.title }}</a>
</div>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}