<!DOCTYPE html>
{% if page.scala3 %}
<html class="scala3">
{% else %}
<html>
{% endif %}
  <head>
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}
      {% if page.overview-name %}{{ page.overview-name }} | {% endif %}
      {{ site.title }}
    </title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="{% if page.url == '/' %}website{% else %}article{% endif %}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:image" content="{{ site.url }}/resources/img/scala-spiral-3d-2-toned-down.png"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}"/>
    {% if page.description %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@scala_lang"/>
    <meta name="twitter:creator" content="@scala_lang"/>
    {% if page.title %}<meta name="twitter:title" content="{{ page.title }}"/>{% endif %}
    {% if page.description %}<meta name="twitter:description" content="{{ page.description }}"/>{% endif %}

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/resources/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/resources/site.webmanifest">
    <link rel="mask-icon" href="{{ site.baseurl }}/resources/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#15a9ce">
    <meta name="theme-color" content="#ffffff">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Custom stylesheet -->
    <link href="{{ site.baseurl }}/resources/css/unslider-dots.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/resources/css/unslider.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/highlightjs.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/css/monospace.css" type="text/css" />

    <!-- Atom feeds -->
    <link rel="alternate" type="application/atom+xml" title="News Feed" href="http://scala-lang.org/feed/index.xml" />
    <link rel="alternate" type="application/atom+xml" title="Blog Feed" href="http://scala-lang.org/feed/blog.xml" />

    <!-- Algolia stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
