<section class="table-of-content">
	<div class="wrap">
		<div class="inner-box">
			<div class="community">
				<div class="discourse">
					<h3>Discourse</h3>
					<span>Mailing list</span>
					<ul>
						{% for forum in site.data.chats-forums.discourseForums %}
							<li>
								<img src="{{ site.baseurl }}/resources/img/frontpage/discourse-logo.png" alt="{{forum.title}}">
								<div>
									<h4><a href="{{forum.url}}">{{forum.title}}</a></h4>
									<p>{{forum.subtitle}}</p>
								</div>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="discord">
					<h3>Chat</h3>
					<span>Real-time chat on Discord</span>
					<ul>
						{% for server in site.data.chats-forums.discordServers %}
							<li>
								<a href="{{server.url}}">
									<img src="{{ site.baseurl }}/resources/img/frontpage/discord-logo.png" alt="{{server.name}}">
									<h4>{{server.name}}</h4>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
