{% if page.scala3 %}
  {% assign navdata = site.data.scala3-doc-nav-header %}
{% else %}
  {% assign navdata = site.data.doc-nav-header %}
{% endif %}

{% include site-header.html %}

{% if page.scala3 %}
<header id="doc-header" class="scala3">
{% else %}
<header id="doc-header">
{% endif %}
  <div class="wrap" style="padding: 0px;">
    <nav class="doc-navigation" role="menu">
      {% assign docsRootTranslated = site[page.language] | where: 'partof', 'documentation' | first %}
      <div class="navigation-bdand">
      <a href="{{ site.baseurl }}/{{ docsRootTranslated.language }}">
        <img src="{{ site.baseurl }}/resources/img/documentation-logo@2x.png" alt="docs">
      </a>
      <span class="doc-language-version">
        — Scala {% if page.scala3 %} 3 {% else %} 2 {% endif %}
      </span>
      </div>
      <div class="navigation-ellipsis">
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <ul class="navigation-menu">
        {% for navItem in navdata %}
            <li class="navigation-menu-item">
              {% capture translatedPageId %}/{{page.language}}{{navItem.url | remove_first: '.html' }}{% endcapture %}
              {% assign navItemTranslated = site.documents | where: 'id', translatedPageId | first %}
              <a href="{% if navItemTranslated.url %}{{navItemTranslated.url}}{% elsif navItem.url contains '://' or navItem.url == '#' %}{{navItem.url}}{% else %}{{site.baseurl}}{{navItem.url}}{% endif %}" id="{{ navItem.title | downcase | strip }}" {% if page.url contains navItem.url %}class="active"{% endif %}>{{navItem.title}}</a>
                {% if navItem.submenu %}
                <ul class="navigation-dropdown">
                {% for subItem in navItem.submenu %}
                  <li>
                    {% capture translatedPageId %}/{{page.language}}{{subItem.url | remove_first: '.html' }}{% endcapture %}
                    {% assign subItemTranslated = site.documents | where: 'id', translatedPageId | first %}
                    <a href="{% if subItemTranslated.url %}{{subItemTranslated.url}}{% elsif subItem.url contains '://' %}{{ subItem.url }}{% else %}{{ site.baseurl }}{{ subItem.url }}{% endif %}">{{ subItem.title }}</a>
                  </li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
        {% endfor %}
      </ul>
    </nav>
    <nav class="doc-navigation-submenus">
      {% for navItem in navdata %}
        {% if navItem.submenu %}
          <ul class="navigation-submenu" id="{{ navItem.title | downcase | strip }}" style="display: none;">
            {% for subItem in navItem.submenu %}
              <li>
                <a href="{% if subItem.url contains '://' %}{{subItem.url}}{% else %}{{site.baseurl}}{{subItem.url}}{% endif %}">{{ subItem.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      <ul class="navigation-submenu ellipsis-menu" style="display: none;">
        {% for navItem in navdata %}
          {% if forloop.index > 3 %}
            <li><a href="{% if navItem.url contains '://' %}{{navItem.url}}{% else %}{{site.baseurl}}{{navItem.url}}{% endif %}">{{ navItem.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
