<section class="run-scala">
	<div class="wrap">
		<div class="heading-line">
			<h2><span>Run Scala in your browser</span></h2>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo neque eget placerat dapibus. Mauris ullamcorper dui eu pellentesque venenatis. Nam non elit vitae dolor posuere eleifend a facilisis diam</p>
		</div>
	</div>
	<div class="call-to-action action-medium">
		<a href="{{site.data.common.scastieUrl}}" class="button" target="_blank">Learn More</a>
	</div>
	<div class="wrap">
		<div class="code-element">
			<div class="bar-code"></div>
			<div class="scastie-code-container">
				<textarea id="scastie-textarea"></textarea>
			</div>
			<div class="btn-run">
				<i class="fa fa-play"></i>
				<span>Run Scala code interactively</span>
			</div>
		</div>
	</div>
</section>