<div class="content-nav">
	<div class="inner-box sidebar-toc-wrapper" style="">
		<h5 class="contents">Contents</h5>
        {% assign type = page.type %}
        {% if type %}
          <div class="inner-toc book" id="sidebar-toc">
        {% else %}
          <div class="inner-toc" id="sidebar-toc">
        {% endif %}

      <ul>
        {% assign sorted = site.overviews | sort: 'num' %}
        {% for pg in sorted %}
					{% if pg.num == page.num %}
						{% capture toc %}
						<div id="toc"></div>
						{% endcapture %}
					{% endif %}

          {% if pg.num and (page.partof == pg.partof) %}
            {% if page.language %} <!-- if page is a translation, get the translated title -->
              {% assign prefix = page.language | prepend: '/' %}
              {% assign localizedId = pg.id | prepend: prefix %}
              {% for lpg in site.[page.language] %}
                {% if lpg.id == localizedId %}
                  <li><a {% if page.title == lpg.title %}class="active"{% endif %} href="/{{ site.baseurl }}{{ page.language }}{{ pg.url }}">{{ lpg.title }}</a>
									{{ toc }}</li>
                {% endif %}
              {% endfor %}
            {% else %} <!-- this must be English, so get the other documents' titles -->

              {% if pg.type %} <!-- if a type is set in a document, we add it as a class. Used in Scala book to diff between chapter and section -->
                <li class="type-{{ pg.type }}"><a {% if page.num == pg.num %}class="active"{% endif %} href="{{ site.baseurl }}{{ pg.url }}">{{ pg.title }}</a>{{toc}}</li>
              {% else %}
                <li><a {% if page.num == pg.num %}class="active"{% endif %} href="{{ site.baseurl }}{{ pg.url }}">{{ pg.title }}</a>{{toc}}</li>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>

      {% if page.languages %}
        <ul id="available-languages" style="display: none;">
          <li><a href="{{ site.baseurl }}{{ page.url }}">English</a></li>
          {% for l in page.languages %}
            {% capture intermediate %}{{ page.url }}{% endcapture %}
            {% capture rootTutorialURL %}{{ intermediate | remove_first: '/' }}{% endcapture %}
      			{% assign lang = site.data.languages[l] %}
      			<li><a href="{{ site.baseurl }}/{{ l }}/{{ rootTutorialURL }}" class="lang">{{ lang.name }}</a></li>
          {% endfor %}
        </ul>
      {% elsif page.language %}
         {% assign engPath = page.id | remove_first: "/" | remove_first: page.language | append: '.html' %}
         {% assign engPg = site.overviews | where: 'partof', page.partof | first %}
        <ul id="available-languages" style="display: none;">
          <li><a href="{{ site.baseurl }}{{ engPath }}">English</a></li>
          {% for l in engPg.languages %}
            {% assign lang = site.data.languages[l] %}
            <li><a href="{{ site.baseurl }}/{{ l }}{{ engPath }}" class="lang">{{ lang.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
		</div>
		<hr>
		<div class="help-us"><a href="https://github.com/scala/docs.scala-lang/blob/master/{% if page.collection %}{{ page.relative_path }}{% else %}{{ page.path }}{% endif %}"><i class="fa fa-pencil" aria-hidden="true"></i> Problem with this page?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please help us fix it!</a></div>
	</div>
</div>
