<div id="{{include.id}}" class="tabsection">
  {% for tabRoot in include.collection %}
  {% if tabRoot.language == include.language %}
  <input
    type="radio"
    name="{{include.id}}_tabs"
    id="{{tabRoot.tabId}}_description"
    data-target="{{tabRoot.tabId}}"
    hidden aria-hidden="true"
    {% if tabRoot.defaultTab %}checked{% endif %}
  >
  {% endif %}
  {% endfor %}
  <ul hidden aria-hidden="true" class="nav-tab">
    {% for tabRoot in include.collection %}
    {% if tabRoot.language == include.language %}
    <li class="item-tab">
      <label class="item-tab-link" for="{{tabRoot.tabId}}_description">{{tabRoot.tabLabel}}</label>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <div class="tabcontent">
    {% for tabRoot in include.collection %}
    {% if tabRoot.language == include.language %}
    <section id="{{tabRoot.tabId}}_content">
      {{tabRoot.content}}
    </section>
    {% endif %}
    {% endfor %}
  </div>
</div>
