<div class="tabsection {{include.extraClasses}}">
  <div class="tab">
    {% for tabRoot in include.collection %}
      <button
        id="{{include.category}}-tab-{{tabRoot.tabId}}"
        class="tablinks-{{include.category}} tablinks{%if tabRoot.isDefault %} default-tab{% endif %}{% if tabRoot.isDefault or tabRoot.fallbackNoJS %} active{% endif %}"
        onclick="openTab(event, '{{include.category}}', '{{tabRoot.tabId}}')"
      >{{tabRoot.tabLabel}}</button>
    {% endfor %}
  </div>
  {% for tabRoot in include.collection %}
    <div id="{{include.category}}-{{tabRoot.tabId}}"
      {% if tabRoot.isDefault or tabRoot.fallbackNoJS %}
        style="display:block;"
      {% else %}
        style="display: none;"
      {% endif %}
      class="tabcontent-{{include.category}} tabcontent">{{tabRoot.content}}</div>
  {% endfor %}
</div>
