
      {% for pg in site.categories.tour %}
        {% if pg.languages %}
          {% assign languages = pg.languages %}
        {% endif %}
      {% endfor %}

      {% if page.language %}
        {% capture intermediate %}{{ page.url | remove_first: page.language }}{% endcapture %}
        {% capture rootTutorialURL %}{{ intermediate | remove_first: '/' }}{% endcapture %}
      {% else %}
        {% assign rootTutorialURL = page.url %}
      {% endif %}

<div class="content-nav">
	<div class="inner-box sidebar-toc-wrapper" style="">
    <li><a href="{{ site.baseurl }}{{ rootTutorialURL }}" class="lang">English</a></li>
    {% for l in languages %}
      {% assign lang = site.data.languages[l] %}
      <li><a href="{{ site.baseurl }}/{{ l }}{{ rootTutorialURL }}" class="lang">{{lang.name}}</a></li>
    {% endfor %}
		<h5>Contents</h5>
		<div class="inner-toc" id="sidebar-toc">
      {% include tutorial-tour-list.txt %}
		</div>
		<hr>
		<div class="help-us"><a href="https://github.com/scala/docs.scala-lang/blob/master/{% if page.collection %}{{ page.relative_path }}{% else %}{{ page.path }}{% endif %}"><i class="fa fa-pencil" aria-hidden="true"></i> Problem with this page?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please help us fix it!</a></div>
	</div>
</div>
