{% if include.language %}
<blockquote class="help-info">
  <i class="fa fa-info"></i><span style="margin-left: 0.5rem">
    {% if include.language == 'scala3' %}
      {% if include.page-language == 'ru' %}
        Эта страница документа относится к Scala 3 и
        может охватывать новые концепции, недоступные в Scala 2.
        Если не указано явно, все примеры кода на этой странице
        предполагают, что вы используете Scala 3.
      {% else %}
        This doc page is specific to Scala 3,
        and may cover new concepts not available in Scala 2. Unless
        otherwise stated, all the code examples in this page assume
        you are using Scala 3.
      {% endif %}
    {% else if include.language == 'scala2' %}
      {% if include.page-language == 'ru' %}
        Эта страница документа относится к функциям, представленным в Scala 2,
        которые либо были удалены в Scala 3, либо заменены альтернативными.
        Если не указано явно, все примеры кода на этой странице предполагают,
        что вы используете Scala 2.
      {% else %}
        This doc page is specific to features shipped in Scala 2,
        which have either been removed in Scala 3 or replaced by an
        alternative. Unless otherwise stated, all the code examples
        in this page assume you are using Scala 2.
      {% endif %}
    {% endif %}
  </span>
</blockquote>
{% endif %}
