---
---

@font-face {
	font-family: 'Inconsolata';
	src:url('{{ site.baseurl }}/resources/glyphs/Inconsolata_SemiExpanded-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('{{ site.baseurl }}/resources/glyphs/Inconsolata_SemiExpanded-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('{{ site.baseurl }}/resources/glyphs/Inconsolata_SemiExpanded-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Inconsolata';
	src: url('{{ site.baseurl }}/resources/glyphs/Inconsolata_SemiExpanded-Bold.ttf') format('truetype');		
	font-weight: bold;
	font-style: normal;
}
