---
# Front matter comment to ensure Jekyll properly reads file.
---

// VENDORS
//------------------------------------------------
@import 'vendors/bourbon/bourbon';
@import 'vendors/neat/neat';
@import 'vendors/unslider/unslider'; // UTILS
//------------------------------------------------
@import 'utils/variables';
@import 'utils/mixins'; // BASE
//------------------------------------------------
@import 'base/body';
@import 'base/form';
@import 'base/helper';
@import 'base/lists';
@import 'base/media';
@import 'base/typography'; // LAYOUT
//------------------------------------------------
// Home
@import 'layout/header';
@import 'layout/inner-text';
@import 'layout/scala-main-resources';
@import 'layout/site-main';
@import 'layout/navigation';
@import 'layout/doc-navigation';
@import 'layout/twitter-feed';
@import 'layout/cheatsheet';
@import 'layout/ides';
@import 'layout/nutshell';
@import 'layout/overviews';
@import 'layout/sips';
@import 'layout/toc';
@import 'layout/glossary';
@import 'layout/style-guide';
@import 'layout/courses';
@import 'layout/documentation';
@import 'layout/upcoming-events';
@import 'layout/scala-ecosystem';
@import 'layout/new-blog';
@import 'layout/talk-to-us';
@import 'layout/maintenance';
@import 'layout/footer';
@import 'layout/marker';
@import 'layout/runs';
@import 'layout/run-scala';
@import 'layout/scaladex'; // Inner Page
@import 'layout/inner-main';
@import 'layout/title-page';
@import 'layout/type-md';
@import 'layout/table-of-content';
@import 'layout/tools';
@import 'layout/books';
@import 'layout/training-events';
@import 'layout/blog';
@import 'layout/download';
@import 'layout/content-contributors'; // COMPONENTS
//------------------------------------------------
//------------------------------------------------
@import 'components/buttons';
@import 'components/call-to-action';
@import 'components/slider';
@import 'components/heading-line';
@import 'components/card';
@import 'components/calendar';
@import 'components/tooltip';
@import 'components/code';
@import 'components/pagination';
@import 'components/tab';
@import 'components/tag';
@import 'components/search';
@import 'components/dropdown';
@import 'components/wip-notice';
