/*
 * Accordionza jQuery Plugin
 * Copyright 2010, Geert De Deckere <geert@idoe.be>
 */

#accordion2 {
        background-color:rgba(0,0,0,0.5);
	color:#fff;
	height:160px;
	list-style:none;
	overflow:scroll;
	padding:0;
	width:940px;
}
ul, ol {
	margin: 0 0 0 0;    
}
#accordion2 li {
	height:160px; /* Needed in case javascript is disabled */
	position:relative;
	width: 700px;
}
#accordion2 .slide_thumb {
	position:absolute;
}
#accordion2 p {
	left:470px;
	margin:0;
	position:absolute;
	width: 700px;
}
#accordion2 .slide_title {
        font-size: 28px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
	top:30px;
}
#accordion2 .slide_content {
        font-size: 20px;
	color:rgba(255,255,255,0.5);
	top:60px;
}
#accordion2 .slide_button {
	font-size:10px;
	letter-spacing:0.2em;
	text-transform:uppercase;
	top:110px;
}
#accordion2 .slide_button a {
	background:rgb(34,92,122); /* Fallback */
	background:rgba(255,255,255,0.1);
	border:1px solid rgba(255,255,255,0.1);
	color:#fff;
	padding:2px 4px;
	text-decoration:none;
	text-shadow:none;
}
#accordion2 .slide_button a:hover {
	background:rgb(56,114,135); /* Fallback */
	background:rgba(255,255,255,0.2);
}