// TAG
//------------------------------------------------
//------------------------------------------------
.tag-list {
  @include display(flex);
  @include align-items(center);
  @include justify-content(flex-start);
  flex-wrap: wrap;
  padding-left: 0;
  .tag-item {
    font-size: 0.6875rem;
    background: $gray-lighter;
    padding: 2px 10px;
    text-transform: uppercase;
    color: $base-font-color-light;
    margin-right: 8px;
    margin-bottom: 8px;
    list-style: none;
  }
}
