// MAINTENANCE
//------------------------------------------------
//------------------------------------------------

.tooltip {
	display:none;
	position:absolute;
	background-color: rgba(#002B36, 0.95);
	border-radius: $border-radius-base;
	padding: 5px 12px;
	color: #fff;
  font-size: $font-size-small;
}
