---
layout: inner-page-parent
---

<section class="books">
	<div class="wrap">

			<div class="inner-box">
				<div class="content-primary">
				{{content}}
			</div>
			</div>
		<div class="inner-box">
			<h2>{{page.introText}}</h2>
				<div class="books-list">
					{% for book in site.books %}
						<div class="book-item">
							<div class="book-item-header">
								<a href="{{book.link}}">
									<div class="content-img-boook">
										<img src="{{book.image}}" alt="{{book.title}}">
									</div>
									<h3>{{book.title}}</h3>
								</a>
							</div>
							<div class="book-item-main">
								<p><b>{{book.status}}</b></p>
								<p class="author">{{site.data.common.texts.booksBy}} {{book.authors | join: ", "}}</p>
								<p class="published">{{site.data.common.texts.booksPublishedBy}} <a href="{{book.publisherLink}}">{{book.publisher}}</a></p>
								<p class="description">{{book.content}}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</section>
