---
layout: inner-page-parent
includeTOC: true
includeCollectionTOC: true
---

{% for pg in site.posts %}
  {% if pg.overview == page.overview and pg.languages %}
    {% assign languages = pg.languages %}
  {% endif %}
{% endfor %}

{% for pg in site.pages %}
  {% if pg.overview == page.overview and pg.languages %}
    {% assign languages = pg.languages %}
  {% endif %}
{% endfor %}

{% if page.language %}
  {% capture intermediate %}{{ page.url | remove_first: page.language }}{% endcapture %}
  {% capture rootTutorialURL %}{{ intermediate | remove_first: '/' }}{% endcapture %}
{% else %}
  {% assign rootTutorialURL = page.url %}
{% endif %}

<!-- Main content -->
{% include inner-page-main-content.html %}
