{% include headertop.html %}
{% include headerbottom.html %}

<div class="navigation-fade-screen"></div>

{% include alert-banner.html message_id='disabled' message=site.data.messages.scam-banner %}

{% include navbar-inner.html %}

<main id="inner-main">
  <!-- Title -->
  <section class="title-page">
    <div class="wrap">
      <div class="content-title-documentation">
        <div class="titles">
          {% if page.overview-name %}
            <div class="supertitle">{{ page.overview-name }}</div>
          {% elsif site.data.docnames[page.partof].name %}
            <div class="supertitle">{{ site.data.docnames[page.partof].name }}</div>
          {% else %}
            <div class="supertitle">&nbsp;</div>
          {% endif %}
          <h1>{% if page.layout == 'sip' and page.number %}{{ page.kind | default: 'SIP' }}-{{ page.number }} - {% endif %}{{ page.title }}</h1>
        </div>
        <div class="search-container">
          <div class="icon-search">
            <i class="fa fa-search"></i>
          </div>
          <input type="text" class="doc-search" id="doc-search-bar" placeholder="Search in doc...">
          <ul class="result-container" id="result-container" style="display: none;"></ul>
        </div>
        <div class="language-dropdown">
          <div id="dd" class="wrapper-dropdown" tabindex="1">
            <span>Language</span>
            <ul class="dropdown"></ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %}Specific content from child layouts{% endcomment %}
  {{content}}

</main>

{% include footer.html %}
