---
layout: inner-page-parent-dropdown
includeTOC: true
---

<section class="content">
	<div class="wrap">
		<div class="content-primary documentation">
			<div class="inner-box">
				<div class="toc-context">
					{% if page.versionSpecific %}
						{% if page.scala3 %}
							{% assign versionSpecificLang = 'scala3' %}
						{% else if page.scala2 %}
							{% assign versionSpecificLang = 'scala2' %}
						{% endif %}
						{% include version-specific-notice.html language=versionSpecificLang %}
					{% endif %}
					<noscript>
						<blockquote>
							<span style="font-weight: bold;">Info:</span> JavaScript is currently disabled, code tabs will still work,
							but preferences will not be remembered.
						</blockquote>
					</noscript>
					{{content}}
				</div>

				{% include contributors-list.html %}
			</div>
		</div>

		<!-- TOC -->
		{% include sidebar-toc-singlepage-overview.html %}
	</div>
</section>
