---
layout: root-content-layout
includeTOC: true
---

<section class="content">
	<div class="wrap">
		<div class="content-primary documentation">
			<div class="inner-box toc-context">
				{{content}}
			</div>
		</div>

		<!-- TOC -->
    <div class="content-nav">
    	<div class="inner-box sidebar-toc-wrapper sip-toc" style="">
        <h5 class="contents">Status</h5>
				{% if page.stage == "implementation" %}
				<p>
					This proposal has been accepted by the committee.
					{% if page.status == "waiting-for-implementation" %}
					  An implementation is welcome in the compiler.
					{% else %}
					  It might be available as an experimental feature in the latest version of the compiler.
					{% endif %}
				</p>
				{% elsif page.stage == "completed" and page.status == "shipped" %}
				<p>
					This proposal has been implemented,
					{% if page.shipped %}
					  it has been made available as a <a href="https://docs.scala-lang.org/scala3/reference/preview/index.html">preview feature</a> in Scala {{ page.shipped }} and
					  will be activated by default in the next minor release of the compiler.
					{% else %}
					  it is available in the latest version of the compiler.
					{% endif %}
				</p>
				{% endif %}
    		<h5 class="contents">SIP Contents</h5>
    		<div class="inner-toc" id="sidebar-toc">
          <div id="toc"></div>
    		</div>
    		<hr>
    		<div class="help-us"><a href="https://github.com/scala/improvement-proposals/blob/main/content/{{ page.name }}"><i class="fa fa-pencil" aria-hidden="true"></i> Problem with this page?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please help us fix it!</a></div>
    	</div>
    </div>

	</div>
</section>
