---
layout: root-content-layout
---

<section class="content">
	<div class="wrap">
		<div class="content-primary sips">
			<div class="inner-box toc-context">
				{{content}}
			</div>
		</div>

		<!-- TOC -->
    <div class="content-nav">
    	<div class="inner-box sidebar-toc-wrapper sip-toc" style="">
        <h5 class="contents" style="line-height: 1.1; margin-bottom: 18px;">Scala Improvement Proposals (SIPs)</h5>
          <div style="text-align: center; margin-bottom: 24px;">
            <a href="{{ site.baseurl }}/sips/all.html" class="button">View all SIPs</a>
          </div>
        <h5 class="contents" style="margin-bottom: 0;">SIP Meetings</h5>
        <div id="sip-meetings">
          <div id="meeting-minutes">
            <ul>
              <li><a href="{{ site.baseurl }}{% link _sips/meeting-results.md %}">Meeting Results</a></li>
            </ul>
          </div>
        </div>
        <h5 class="contents" style="margin-bottom: 0;">Submitting a SIP</h5>
        <ul>
          <li><a href="{% link _sips/process-specification.md %}">Process Specification</a></li>
          <li><a href="{{ site.baseurl }}/sips/sip-tutorial.html">Tutorial: Writing a SIP</a></li>
        </ul>
    		<div class="help-us"><a href="https://github.com/scala/docs.scala-lang/blob/main/{% if page.collection %}{{ page.relative_path }}{% else %}{{ page.path }}{% endif %}"><i class="fa fa-pencil" aria-hidden="true"></i> Problem with this page?<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please help us fix it!</a></div>
    	</div>
    </div>

	</div>
</section>
