---
layout: root-content-layout
includeCollectionTOC: true
includeTOC: true
---

<section class="content">
	<div class="wrap">
		<div class="content-primary documentation style-guide">
			<div class="inner-box">
				<div class="toc-context">
					{% if page.new-version %}
					{% include outdated-notice.html new-version=page.new-version %}
					{% endif %}
					{{content}}
				</div>

				<div class="two-columns">
					{% if page.previous-page %}
					<a href="{{page.previous-page}}.html">&larr; <strong>previous</strong></a>
					{% else %}
					<div></div>
					{% endif %}
					{% if page.next-page %}
					<a href="{{page.next-page}}.html"><strong>next</strong> &rarr;</a>
					{% endif %}
				</div>
				{% include contributors-list.html %}
			</div>
		</div>

		<!-- TOC -->
		{% include sidebar-toc-style.html %}
	</div>
</section>
