---
layout: inner-page-parent-dropdown
includeTOC: true
includeCollectionTOC: true
---

<section class="content">
	<div class="wrap">
		<div class="content-primary documentation">
			<div class="inner-box">
                <div class="toc-context">
                    {{content}}
                </div>

                <div class="two-columns">
                    {% if page.previous-page %}
                    <a href="{{page.previous-page}}.html">&larr; <strong>previous</strong></a>
                    {% else %}
                    <div></div>
                    {% endif %}
                    {% if page.next-page %}
                    <a href="{{page.next-page}}.html"><strong>next</strong> &rarr;</a>
                    {% endif %}
                </div>

                {% include contributors-list.html %}
            </div>
		</div>

		<!-- TOC -->
		{% include sidebar-toc-tour-overview.html %}
	</div>
</section>
