// BLOG
//------------------------------------------------
//------------------------------------------------

.title-page {
  h1 {
    line-height: 1.875rem;
  }

  .content-title-documentation {
    .titles {
      @include span-columns(9);
      @include bp(medium) {
         @include span-columns(12);
      }
      min-height: 70px;
      max-height: 160px;
      margin-top: 30px;
      margin-bottom: 100px;
      @include bp(medium) {
         margin-bottom: 0;
      }

      .supertitle {
        text-transform: uppercase;
        font-weight: $font-black;
        font-size: 20px;
        color: darken(#53b6d3, 15%);
      }

      h1 {
        padding-top: 0;
      }
    }

    .spacer {
      height: 80px;
    }
  }
}

.content-primary.documentation {
  line-height: 1.3;
}
