// SCALA-IN-ACTION
//------------------------------------------------
//------------------------------------------------

.scala-in-action {

    .tabcontent {
        .scala-text {
            .alt-details {
                button.alt-details-toggle {
                    border: 1px solid #a0dff0;
                    background-color: #d1e5eb;
                    color: $gray;

                    &:hover {
                        background-color: #c9e3eb;
                    }

                    &:after {
                        color: $gray;
                    }
                }

                .alt-details-detail {
                    background-color: $gray-light;
                    border: 1px solid darken($gray-light, 3%);
                }
            }
        }
    }

    .scala-in-action-content {
        transition: $base-transition;


        .scala-in-action-code {
            // display: none;
            // background: $gray-dark;
            padding: 20px 0;

            .wrap {
                margin-bottom: 0px;
            }

            .snippet {
                position: relative;
                margin: 10px 0px;
                cursor: default;
                width: 100%;

                &:hover {
                    .buttons {
                        opacity: 0.95;

                        &:active {
                            opacity: 0.3;
                        }
                    }
                }

                .buttons {
                    position: absolute;
                    right: 4px;
                    top: 5px;
                    transition: all .2s ease;
                    display: flex;
                    opacity: 0;
                    flex-direction: row-reverse;
                    justify-content: flex-start;

                    button {
                        outline: none;
                        background: #fff;
                        border: none;
                        font-size: $font-size-medium;
                        color: rgba($gray, .6);
                        cursor: pointer;

                        i {
                            font-weight: $font-bold;
                        }
                    }
                }

                pre.snippet-code {
                    margin: 0px;
                    display: block;
                    overflow-x: auto;

                    code {
                        overflow-x: auto;
                        display: block;
                    }
                }
            }

            .scala-code {

                @include span-columns(7);

                @include bp(large) {
                    @include span-columns(12);
                }
            }

            .scala-text {

                details {
                    summary {

                        &:hover {
                            background-color: lighten($gray-lighter, 5%);
                        }
                    }

                    summary>* {
                        display: inline;
                    }
                }

                code {
                    padding: 3px 6px;
                    color: #859900;
                    background-color: #fff;
                    border-radius: 10px;
                    border: 1px solid $gray-light;
                }

                .snippet {
                    pre.snippet-code {
                        code {
                            border: 1px solid darken($gray-light, 10%);
                        }
                    }
                }

                @include span-columns(5);

                @include bp(large) {
                    @include span-columns(12);
                }

                h3 {
                    font-size: 1.525rem;
                    margin-bottom: 20px;
                }

                p {
                    color: $base-font-color;
                }

                &.scala-text-large {
                    @include span-columns(12);
                }
            }
        }
    }
}
