// MAIN
//------------------------------------------------
//------------------------------------------------
#site-main {
    section {
        padding: $padding-xlarge 0;
    }

    .spire {
      min-height: 330px;
      background: rgba($gray-darker, 0.4);
      position: relative;
      padding: 0;

      &:before {
          content: "";
          position: absolute;
          background: url("../img/frontpage/epfl-bc.jpg") no-repeat center center;
          @include image-size();
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
      }
    }
}
