// TABSECTION
//------------------------------------------------
//------------------------------------------------

.recommended-install {
    margin-top: -2em;
    .tabsection {
        background: $gray-lighter;
    }
}

.tabsection {

    &.inline-tabs {
        margin: 20px 0px;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        margin-bottom: -12px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        font-family: $heading-font-family;
        font-size: $font-size-medium;
        font-weight: $font-bold;
        color: lighten($gray, 25%);
        background-color: inherit;
        float: left;
        border: none;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        color: #fff;
        background-color: $gray;
        border-bottom: $base-border-white;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: $gray;
        border-bottom: $base-border-white;
        color: #fff;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 0px 2px;
        border-top: none;
        transition: all .5s linear;
    }
}
