// TITLE PAGE
//------------------------------------------------
//------------------------------------------------

.scala3 .title-page {
  background: $brand-tertiary-dotty;
}

.title-page {
  background: $brand-tertiary;
  // height: 200px;
  min-height: 200px;
  h1 {
    font-size: 1.875rem;
    font-family: $base-font-family;
    padding-top: $padding-large;
    text-transform: uppercase;
    text-shadow: $text-shadow;
    color: #fff;
  }
}
