// SINGLE-PAGE TOC
//------------------------------------------------
//------------------------------------------------

.sidebar-toc-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  @include bp(large) {
    position: relative;
  }

  @include bp(medium) {
    display: none;
  }

  .contents {
    font-weight: 700;
  }
}

.inner-toc {
  max-height: 60vh;
  overflow-y: auto;

  @include bp(large) {
    max-height: none;
  }

  &.book {
    max-height: none;
  }
}

#toc {
  ul {
    list-style: none;
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 10px;

    a {
      display: block;
      list-style: none;
      line-height: 1.3;
      font-weight: $font-bold;
      font-size: $font-size-small;
      color: $gray-dark;
      width: 100%;

      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }

    li {
      margin-top: 10px;

      ul {
        list-style: disc;
        margin-left: 28px;
        margin-top: -6px;
        margin-bottom: 6px;

        a {
          line-height: 1;
          font-weight: normal;
        }

        li {
          margin-bottom: 0;
          margin-top: 0;
          line-height: 1.2;

          ul {
                margin-top: 1px;
          }
        }
      }
    }
  }
}

// disable floating for the book, since the TOC can become very large
.scala3 .sidebar-toc-wrapper {
  position: relative;
}

.book #toc {
  ul {
     margin-top: 5px;
     margin-bottom: 10px;
     margin-left: 0px;

    a {
      color: $base-link-color;
      font-weight: normal;
    }

    li {
      margin-left: 10px;
      margin-top: 5px;

      ul {
        margin-left: 20px;
        margin-top: -5px;
        margin-bottom: 0px;

        a {
          line-height: 1.3;
          font-weight: normal;
        }

        li {
          margin-top: 0px;
          margin-left: 10px;
        }
      }
    }
  }
}
